{
  admin off
}

https://localhost, https://127.0.0.1 {
  tls internal
  encode zstd gzip

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer
  }

  @root path /
  redir @root /ui/ 302

  @ui_no_slash path /ui
  redir @ui_no_slash /ui/ 302

  @ui_login_no_slash path /ui/login
  redir @ui_login_no_slash /ui/login/ 302

  reverse_proxy litellm:4000
}